.vs
bin
obj
/assignment1/Calculator/.vs
/assignment1/Calculator/project2/obj
/assignment2/assignment2/.vs
/assignment2/assignment2/project1/bin
/assignment2/assignment2/project1/obj
/assignment2/assignment2/project2/obj
/assignment2/assignment2/project3/obj
/assignment2/assignment2/project4/obj
